.container__custom{
    padding: 30px !important;
    margin-top: 80px;
}
.jumbotron__custom{
    background-color: #e8eaf6 !important;
}
.button__custom{
    margin: 5px !important;
}

.buttons__list{
    display: flex;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    
}
.listCourses__custom{
    width: 100%;
}
.header__custom{
    display: flex;
}

.header__custom > p {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    font-family: revert;
    color: rgba(0,0,0,.5);
}
.link__custom > a:link{
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}
.link__custom > a:visited{
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.user_header__custom{    
    padding: 10px;
    position: absolute;
    right: 50px
}

.toolbar__custom{
    margin: 5px;
}

.card__custom{
    justify-content: left;
}
.emergency_alert__custom{
    display: flex;
}
.button_response__custom{
    position: absolute;
    right: 40px;
}
.alert_card_content_response__custom{
    text-align: left
}
.alert_image__custom{
    max-width: 200px;
}
.alert_card_response__custom{
    width: 100%;
    background-color: #ffccbc !important;
}

.notification__custom{
    position:absolute;
    right: 100px;
    margin-right: 200px;

}
.notification__custom  a{
    color: white;
}