.container__custom{
    padding: 30px !important;
    margin-top: 80px;
    z-index: 200 !important;
}
.ckecklist_content__custom{
    justify-content: left !important;
}
.checklist_option__custom{
    display: flex;
}
.jumbotron__custom{
    background-color: #e8eaf6 !important;
}
.button__custom{
    margin: 5px !important;
}

.buttons__list{
    display: flex;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    
}
.listCourses__custom{
    width: 100%;
}
.header__custom{
    display: flex;
}

.header__custom > p {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    font-family: revert;
    color: rgba(0,0,0,.5);
}
.link__custom > a:link{
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}
.link__custom > a:visited{
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.user_header__custom{    
    padding: 10px;
    position: absolute;
    right: 50px
}

.toolbar__custom{
    margin: 5px;
}

.card__custom{
    justify-content: left;
}
.emergency_alert__custom{
    display: flex;
}
.button_response__custom{
    position: absolute;
    right: 40px;
}
.alert_card_content_response__custom{
    text-align: left
}
.alert_image__custom{
    max-width: 200px;
}
.alert_card_response__custom{
    width: 100%;
    background-color: #ffccbc !important;
}

.notification__custom{
    position:absolute;
    right: 100px;
    margin-right: 200px;

}
.notification__custom  a{
    color: white;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .motivational_cards_container__custom{
      display: flex;
      column-count: 3;      
  }
  .motivational_card__custom{
    max-width: 345;
    margin-bottom: 20px;
  }
.modal__custom{
    width: 900px;
}
.check__custom{
    color: #388e3c;
    margin-right: 20px;
    margin-left: 10px;
}
.about_items__custom >h4{
    display: flex;
}
.home__custom{
    width: 1500px;
    margin-left: -100px;
}
.slider__custom > h1{
    margin-top: 110px;
}
.img__custom{
    z-index: 1;
    width: 230px;
    justify-content: center;
    margin-top: 150px;
}
.copy_right__custom{
    margin-top: 100px !important;
}
.logo_home__custom{
    position:absolute;
    display: flex;
    margin-top: -400px;
    z-index: 100;
    justify-content: center;
    left: 0;
    right: 0;
    
}
.slides_home__custom{
    height: 120%;
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to top, transparent 10%, black 50%);
    margin-bottom: 200px;
    font-family: 'Open Sans', sans-serif;
}
.particles__custom{
    right: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.card-img{
    mask-image: linear-gradient(to top, transparent 10%, black 50%) !important;
}